/* .main-bg{
   
} */
.background-one{
    
    margin-bottom: 10px;
    background-color: rgb(238, 222, 75);
    color: cornsilk;
    
}
.background-two{
  
    margin-bottom: 10px;
    background-color: brown;
    color: cornsilk;
    
}
.background-three{
    
    margin-bottom: 10px;
    background-color: rgb(44, 172, 108);
    color: cornsilk;
    
}